@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header-font {
  font-family: 'Montserrat', sans-serif;
}

.main-color {
  color: #009385;
}

.yellow-color {
  color: #d8b207;
}

.red-color {
  color: #c71b1b;
}

body {
  margin: 0;
  background-color: #181818;
  color: whitesmoke;
}

h3 {
  font-size: 140%;
  margin-bottom: 2vh;
}

h4 {
  font-size: 120%;
  margin-top: 1vh;
  font-weight: normal;
}

.home-background {
  background-image: url("homepage-background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  background-position: bottom right;
  height: 94vh;
  width: 100%;
}

.main-text {
  font-size: 110%;
  width: 38vw;
  height: 32rem;
  text-align: center;
}

@media only screen and (max-width: 940px) {
 .main-text {
   width: 90vw;
 }
}

.glass {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(8px);
  padding: 6rem;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: #009385;
}

.big-data-grid {
  margin: 3rem auto 1rem auto;
  width: 80%;
}

.popover-container {
  margin: .5rem auto 1rem auto;
  width: 100%;
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)
  > td:not(.dx-focused) {
  cursor: pointer;
}

.dx-field-label {
  padding-top: 5px;
}

.line {
  width: 100%;
  border-bottom: 1px solid #898d90;
  padding: 15px 0 10px 0;
  margin-bottom: 20px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 8px solid #009385;
}

.avatar:hover {
  transition: all .2s linear;
  border: 10px solid #009385;
  cursor: pointer;
}